:root {
    --main-margin: 2rem;
    --main-padding: 0rem;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: transparent; 
}
   
::-webkit-scrollbar-thumb {
    background-color: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

html {
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    user-select: none;
    overflow: hidden;
}

#container {
    display: none;
}

#main-container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: var(--main-padding);
    background-color: rgba(60, 60, 60, 0.946);
    display: grid;
    grid-template-rows: 40px auto;
    grid-gap: 1rem;
    row-gap: 1rem;
    z-index: 1;
}

#main-container>div {
    position: relative;
    width: 100%;
}

#main-container>div>div {
    position: relative;
    width: 100%;
}

#main-container>#main-header {
    font-size: 36px;
    font-family: monospace;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

#main-container>#main-header>span {
    width: 100%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.447);
    color: rgb(19, 19, 19);
    transition: 0.2s ease-out;
}

#main-container>#main-header>span:hover {
    color: rgb(188, 188, 188);
    background-color: rgba(46, 46, 46, 0.859);
    cursor: pointer;
}

#main-container>#main-space {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 1em;
    row-gap: 1em;
}

#main-container>#main-space>#actions-tab {
    display: grid;
    grid-template-rows: auto;
    height: 10px;
    margin: 0px;
    padding: 0px;
}

#main-container>#main-space>#actions-tab>p {
    width: auto;
    color: black;
    height: 10px;
    margin: 15px;
    padding: 0px;
    font-size: 32px;
    font-weight: bold;
    font-family: monospace;
    text-align: normal;
    word-wrap: nowrap;
    white-space: nowrap;
}

#main-container>#main-space>#actions-tab>p:hover {
    color: rgb(188, 188, 188);
    cursor: pointer;
}

#main-container>#main-space>#workspace {
    background-color:rgba(0, 2, 47, 0.093);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1em;
    row-gap: 1em;
}

#main-container>#main-space>#workspace>input {
    width: auto;
    min-width: 6rem;
    max-width: 10rem;
    height: auto;
    background-color: rgba(17, 17, 62, 0.464);
    border-width: 0px;
    color: rgba(230, 230, 230, 0.935);
    font-size: 16px;
    font-weight: bold;
    font-family: "Helvetica Neue" sans-serif;
}

#submit-span {
    color: rgba(3, 92, 15, 0.82)
}

#submit-span:hover {
    color: rgba(5, 132, 22, 0.854)
}